body {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.StudentForm {
  background: grey;
}
.BehaviorForm {
  background: lightcoral;
}
/* .Admin-Container {
  display: flex;
  flex-direction: row;
  width: 50%;
} */

.Student-List {
  list-style: none;
  width: 50%;
}
.Student-Container {
  text-align: right;
  background: lightskyblue;
}
